@model Post

<form method="POST" asp-action="Update">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Post</h2>
            <hr />
        </div>
        <label asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Title" class="form-control"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-control"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CreatedAtUTC" class="form-control"></label>
            <input asp-for="CreatedAtUTC" class="form-control" />
            <span asp-validation-for="CreatedAtUTC" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CreatedByUserId" class="form-control"></label>
            <input asp-for="CreatedByUserId" class="form-control" />
            <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Type" class="form-control"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary " style="width:150px">Update</button>
        <a asp-controller="Post" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }